/* PALETA DE CORES: #FFA41B #004E89 #000839 #6A097D */

* {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}
html {
    /*scroll-behavior: smooth;*/
    overflow-x: hidden;
    overflow-y: hidden;
}
body {/*
    background: deepskyblue;*/
    background: #0D1A30;
}
a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0 0 20px #004E89;
}
h3 {
    color: #004E89;
    font-size: 20px;
    text-decoration: none;
    text-align-last: end;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border: 5px solid #032259;/*
    box-shadow:inset 0 0 2.5px #004E89;*/
}
::-webkit-scrollbar-thumb {
    background: #DEE6ED;/*
    background: linear-gradient(45deg, #DEE6ED, #032259);
    border-radius: 10px;*/
}

/* CROSS ELEMENTS */
.container {
    height: 90vh;
    width: 100%;
    background: #DEE6ED;
    box-shadow: 0 0 15px 5px #000839;
    overflow-y: auto;
    overflow-x: hidden;
}
main {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.transition {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
.transition li {
    width: 20%;
    transform: scaleY(0);
    background: #fffffe;
}
.next-button {
    height: 50px;
    width: 50px;
    background-image: url(./images/next-button.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    opacity: 0;
    z-index: 10;
    transition: 1s;
    cursor: pointer;
    transform: scale(1.2);
    animation: nextButton 1.5s linear infinite;
}
@keyframes nextButton {
    0% {
        transform: scale(0.7s);
        opacity: 0.3;
    }
    50% {
        transform: scale(1.4);
        opacity: 1;
        filter: drop-shadow(0px 0px 3px #032259);
    }
    100% {
        transform: scale(0.7s);
        opacity: 0.3;
    }
}
footer {
    background-color: #03225969;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 1s;
}
footer h3 {
    font-size: 15px;
    color: #dee6ed;
    font-weight: 300;
    letter-spacing: 1px;
}
/* HEADER NAVIGATION */
header {
    position: relative;/*
    background-color: gainsboro;*/
    background-color: #032259;
    height: 10vh;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 100;
    transition: 1s;
    box-shadow: 0 0 15px 5px #032259;
}
header .logo {
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 1s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header ul li {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    height: 110%;
}
header ul li a {
    position: relative;
    font-size: 1em;
    padding: 30px 10px;
    letter-spacing: 2px;
}
header ul li:hover {
    background-color: #004E89;
}
header ul li a:hover {
    color: white;
}
@media (max-height: 450px) {
    header {height: 45px;}
}
@media (max-width: 860px) {
    header ul {
        position: absolute;
        top: -175%;
        left: 0;
        width: 100%;
        height: 300px;
        text-align: center;
        overflow: auto;
        flex-direction: column;
        transition: 0.5s;
        background: #032259;
        transform: translateY(-90%);
        box-shadow: 0 0 15px 5px #032259;
        z-index: -100;
    }
    header.active ul {
        top: 10vh;
        transform: translateY(-5%);
    }
    header ul li {
        justify-content: center;
        width: 100%;
        height: 42px !important;
    }
    header ul a {
        padding: 10px 30% !important;
        font-size: 25px;
    }
    .menu {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .menu::before {
        content: '';
        position: absolute;
        top: 5px;
        width: 100%;
        height: 2px;
        background: #ffffff;
        z-index: 1;
        transition: 0.5s;
        box-shadow: 0 9px 0 #ffffff;
    }
    .menu::after {
        content: '';
        position: absolute;
        bottom: 5px;
        width: 100%;
        height: 2px;
        background: #ffffff;
        z-index: 1;
        transition: 0.5s;
    }
    header.active .menu::before {
        top: 15px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #ffffff;
    }
    header.active .menu::after {
        bottom: 15px;
        transform: rotate(-45deg);
    }
}

/* BANNER SECTION */
.home {
    height: 100%;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;/*
    flex-direction: column;
    justify-content: center;*/
    align-items: center;
    justify-content: space-between;/*
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    box-shadow: 0 0 15px 5px rgba(102, 102, 102, 0.842);*/
}
.home .above {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.home .content {
    z-index: 10;
    transform: scale(0.5);
    transform: translateX(-200);
}
.home .image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("./images/undraw_all_the_data_h4ki.svg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: right;
    margin-bottom: -100px;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}
.home h2 {
    text-transform: uppercase;
    /*text-align: center; */
    line-height: 1.5em;
    font-weight: lighter;
    opacity: 0;
    margin-bottom: -50px;
}
h2 {
    color: #004E89;
    font-size: 40px;
    text-transform: uppercase;
    /*text-align: center; */
    line-height: 1.2em;
}
span {
    color:#004E89;
    font-family: 'Popins', sans-serif;
    font-weight: bold;
    font-size:1.6em;
}
.text-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.letter {
    display: inline-block;
    transform-origin: 0 0;
}
.home-down {
    height: auto;
    width: 100%;
    position: relative;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 300px;
}
.home-down img {
    height: 300px;
    width: 200px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
}
.home-down .img-left-first img,
.home-down .img-left-third img{
    transform: translate3d(-20px, -20px, 10px);
}
.home-down .img-right-second img,
.home-down .img-right-fourth img{
    transform: translate3d(20px, -20px, 10px);
}
.home-down .img-left-first,
.home-down .img-left-third{
    grid-column: 1/2;
    align-self: center;
    justify-self: self-end;
}
.home-down .img-right-second,
.home-down .img-right-fourth{
    grid-column: 2/2;
    align-self: center;
    justify-self: self-start;
}
.home-down .content-left-first,
.home-down .content-left-third{
    grid-column: 2/2;
    align-self: center;
    justify-self: self-start;
    margin-top: -20%;
    margin-left: 20px;
}
.home-down .content-right-second,
.home-down .content-right-fourth{
    grid-column: 1/2;
    align-self: center;
    justify-self: self-end;
    margin-top: -50%;
}
.box-lineleft-first,
.box-lineleft-third{
    height: 300px;
    width: 200px;
    border: solid black;
    place-self: center;
    grid-column: 1/2;
}
.box-lineright-second,
.box-lineright-fourth{
    height: 300px;
    width: 200px;
    border: solid black;
    place-self: center;
    grid-column: 2/2;
}
.home-down h3 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
.home-down .content-left-first h3,
.home-down .content-left-third h3{
    text-align-last:start;
}
.home-down .img-left-first h3,
.home-down .img-left-third h3{
    transform: translate3d(200px, -200px, 5px);
    text-align-last: start;
}
.home-down .img-right-second h3,
.home-down .img-right-fourth h3{
    transform: translate3d(-290px, -200px, 5px);
}
#home-next {
    grid-column: 2/2;
    /* align-self: center; */
    /* justify-self: self-end; */
    margin-top: -5%;
    margin-bottom: 5%;
}

@media (max-width: 1340px) {
    .home .image {
        opacity: 0.7 !important;
        background-size: 550px !important;
        right: -8%;
    }
}
@media (max-width: 1130px){
    .home .image {
        background-size: 450px !important;
    }
}
@media (max-width:1010px) {
    .home .image {
        opacity: 0 !important;
    }
}
@media (max-width: 590px) {
    .home {
        padding-left: 11%;
    }
    h2 {
        font-size: 40px !important;
    }
    p {
        font-size: 13px !important;
    }
}
@media (max-height: 430px) {
    .home .image {
        opacity: 0 !important;
    }
}

/* ABOUT SECTION */
.about {/*
    background: #002C5E;*/
    height: 100%;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 20% 60% 10%;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
}
.about h2 {
    font-size: 55px;
    font-weight: 700;
    text-shadow: 0 0 2px #004E89;
    color: #004E89;
    text-transform: uppercase;
    line-height: 1.2em;
    transition: 1s;
    place-self: center;
    margin-bottom: -100px;
    opacity: 0;
}
.about h3 {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 30em;
    margin-bottom: auto;
    text-align-last: center;
    grid-row: 2/3;
    place-self: center;
}
.about .button {
    position: relative;
    display: inline-block;
    margin: 20px;
    background: #004E89;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    width: 150px;
    box-shadow: 0 0 5px 5px #004E89;
}
.about .image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("./images/undraw_online_transactions_02ka.png");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: bottom;
    bottom: 25%;
    transform: scale(1.7);
    z-index: -10;
    transition: 1s;
    opacity: 0;
}
#about-next {
    grid-row: 3/3;
    place-self: center;
    margin-bottom: 10px;
}
@media (max-width: 1200px) {
    .about .image {
        background-size: 500px !important;
    }
} 
@media (max-width: 870px) {
    .about .image {
        background-size: 400px !important;
        opacity: 0 !important;
    }
} 
@media (max-height: 560px) {
    .about .image {
        background-size: 500px !important;
    }
    .about h2 {
        margin-top: -10% !important;
    }
}
@media (max-height: 450px) {
    .about .image {
        opacity: 0 !important;
    }
    .about h2 {
        margin-top: 0% !important;
    }
}

/* TIME LINE SECTION */

#picture-back {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#picture-back.one {
    background: url('./images/presentation2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    /*filter: blur(5px);
    object-fit: cover;*/
}
#picture-back.two {
    background: url('./images/presentation1.jpg');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    /*filter: blur(5px);*/
}
#picture-back.three {
    background: url('./images/presentation3.jpg');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    /*filter: blur(5px);*/
}
#picture-back.four {
    background: url('./images/presentation4.png');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    /*filter: blur(5px);*/
}
#progress-bar {
    position: absolute;
    width: 55%;
    height: 150px;
    margin-top: -20vh;
    z-index: 1;
    transition: 0.5s;
}
#progress-bar ul {/*
    position: absolute;*/
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -40px;
    z-index: 9999;
}
#progress-bar li {
    list-style: none;
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
}
#progress-bar li:before {
    content: "";
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 2px #aaaa;
    transition: all ease 0.3s;
}
#progress-bar li:after {
    content: "";
    display: block;
    margin: auto;
    width: 10px;
    height: 10px;
    background: #777777;
    border-radius: 50%;
    border: solid 4px #aaaa;
    margin-top: 65px;
    box-shadow: 0 2px 13px -1px rgba(0,0,0,0.3);
    transition: all ease 0,2s;
}
#progress-bar li > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    margin-top: -72px;
    margin-left: -35px;
    transition: 0.5s;
    padding: 3px;
}
#progress-bar li > img:hover {
    margin-top: -76px;
    margin-left: -64px;
    width: 130px;
    height: 130px;
    border-radius: 20% 20% 60% 60%;
    background-color: #004E89;
}
#progress-bar li.active:hover::before {
    background: #004E89;
}
#progress-bar li.active::before {
    background: #004E89;
}
#progress-bar li.active,
#progress-bar li.active:hover {
    color: #004E89;
}
#progress-bar li:hover:after {
    background: #004E89;
}
#progress-bar li.active:after {
    background: #004E89;
}
#progress-bar #line {
    position: absolute;
    width: 75%;
    height: 7px;
    margin: auto;
    left: 12%;
    top: 104px;
    background: #eeeeee;
    z-index: -1;
    border-radius: 50px;
    transition: all ease 0.9s;
    opacity: 0;
}
#progress-bar #line-progress {
    content: "";
    width: 0%;
    height: 100%;
    background: #004E89;
    background-attachment: linear-gradient(to right, d#004E89 0%, #004E89 100%);
    position: absolute;
    border-radius: 50px;
    z-index: 2;
    transition: all ease 0.9s;
}
#progress-content {
    min-width: 41%;
    max-width: 55%;
    margin-top: 30vh;/*
    width: 50%;*/
    background: #DEE6ED;
    border-radius: 4px;
    transition: 0.5s;
}
#progress-content .section {
    padding: 17px 20px;
    text-align: center;
    display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}
#progress-content .section h2 {
	font-size:19px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}
#progress-content .section p {
	font-size:15px;
	line-height:1.8em;
	color:#777;
}
#progress-content .section.active {
    display: block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

@media (max-width: 590px) {
    #progress-bar {
        width: 300px;
    }
    #progress-bar li > img:hover {
        width: 65px !important;
        height: 65px !important;
        margin-left: -47px;
    }
    #progress-content .section h2 {
        font-size:15px !important;
    }
    #progress-content .section p{
        font-size: 10px !important;
    }
}
@media (max-width: 750px) {
    #progress-bar li > img:hover {
        width: 80px !important;
        height: 80px !important;
        margin-left: -40px;
    }
}
@media (max-width: 1200px) {
    #progress-content {
        width: 655px !important;
        max-width: 85% !important;
    }
}

@media (max-height: 650px) {
    #progress-content {
        margin-top: 220px;
    }
}
@media (max-height: 355px) {
    #progress-content {
        opacity: 0;
    }
    #progress-bar {
        margin-top: 0 !important;
    }
}
/* SKILL SECTION */
.container-skill {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.skill {
    min-height: 50vh;
    margin-top: -10%;
    display: grid;
    align-content: center;
    justify-content: center;
    transform: rotate(45deg);
    z-index: 1;
}
.skill .celular {
    border-top: 5px solid #004E89;
    border-bottom: 5px solid #40434F;
    border-radius: 10%;
    transition: 1s;
    cursor: pointer;
    margin: 30px;
}
.skill .celular:hover {
    transform: scale(1.2);
    animation: animate-hover 1.5s linear infinite;
    opacity: 0;
}
/*
<i class="fa fa-instagram"></i> */
@keyframes animate-hover {
    0% {
        transform: scale(0.7s);
        opacity: 1;
    }
    50% {
        transform: scale(1.4);
        opacity: 1;
        box-shadow: 0 0 0 0 #0D1A30;
    }
    75% {
        opacity: 1;
        box-shadow: 0 0 10px 15px #004E89;
    }
    100% {
        transform: scale(0.7s);
        opacity: 1;
    }
}
#celular01 {
    grid-area: cell01;
    flex: 1 1 280px;
    grid-column: 1/2;
    grid-row: 4/5;
    background: url('./images/python2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #DEE6ED;
    width: 150px;
    height: 150px;
    opacity: 0;
}
#celular02 {
    grid-area: cell01;
    flex: 1 1 280px;
    grid-column: 2/3;
    grid-row: 3/4;
    background: url('./images/html-css-js.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #DEE6ED;
    width: 150px;
    height: 150px;
    opacity: 0;
}
#celular03 {
    grid-area: cell01;
    flex: 1 1 280px;
    grid-column: 3/4;
    grid-row: 2/3;
    background: url('./images/powerBI.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #DEE6ED;
    width: 150px;
    height: 150px;
    opacity: 0;
}
#celular04 {
    grid-area: cell01;
    flex: 1 1 280px;
    grid-column: 4/5;
    grid-row: 1/2;
    background: url('./images/excel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #DEE6ED;
    width: 150px;
    height: 150px;
    opacity: 0;
}
#celular05 {
    grid-area: cell01;
    flex: 1 1 280px;
    grid-column: 2/3;
    grid-row: 4/5;
    background: url('./images/mySQL2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #DEE6ED;
    width: 150px;
    height: 150px;
    opacity: 0;
}
#celular06 {
    grid-area: cell01;
    flex: 1 1 280px;
    grid-column: 3/4;
    grid-row: 3/4;
    background: url('./images/yellow-belt.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #DEE6ED;
    width: 150px;
    height: 150px;
    opacity: 0;
}
#celular07 {
    grid-area: cell01;
    flex: 1 1 280px;
    grid-column: 4/5;
    grid-row: 2/3;
    background: url('./images/MS-Project.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #DEE6ED;
    width: 150px;
    height: 150px;
    opacity: 0;
}
#celular08 {
    grid-area: cell01;
    flex: 1 1 280px;
    grid-column: 5/6;
    grid-row: 1/2;
    background: url('./images/qgis.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #DEE6ED;
    width: 150px;
    height: 150px;
    opacity: 0;
}
#line-bar {
    position: absolute;
    width: 75%;
    height: 30px;
    margin: auto;
    left: 12%;
    top: 104px;
    background: #DEE6ED;
    z-index: 1;
    border-radius: 10%;
    transition: all ease 0.9s;
    border-left: 5px solid #485B7E;
    border-right: 5px solid #485B7E;
    border-radius: 50px;
    bottom: -300px;
    opacity: 0;
}
#line-bar #line-experience {
    content: "";
    width: 0%;
    height: 100%;
    background: #004E89;
    background-attachment: linear-gradient(to right, deepskyblue 0%, #2ea3b7 100%);
    position: absolute;
    border-radius: 50px;
    z-index: 2;
    transition: all ease 0.9s;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
    color: #DEE6ED;
    transform: ease 0.5s;
    transition:all ease 0.6s;
}

@media (max-width: 1250px) {
    .skill .celular {
        margin: 15px !important;
    }
    .skill {
        margin-top: -8% !important;
    }
}
@media (max-width: 1120px) {
    .skill .celular {
        margin: 30px 10px!important;
        width: 120px !important;
        height: 120px !important;
        margin-top: -8% !important;
    }
    .skill {
        margin-top: -3% !important;
    }
}
@media (max-width: 770px) {
    .skill .celular {
        margin: 10px !important;
        width: 90px !important;
        height: 90px !important;
    }
    .skill {
        margin-top: 12% !important;
    }
    #celular01 {
        grid-column: 2/3 !important;
        grid-row: 2/3 !important;
    }
    #celular04 {
        grid-row: 2/3 !important;
    }
    #celular05 {
        grid-column: 3/4 !important;
    }
    #celular07 {
        grid-row: 3/4 !important;
    }
    #celular08 {
        grid-column: 3/4 !important;
    }
}

/* PORTFOLIO SECTION */

#portfolio {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 25px 3px #004E89;
    z-index: 100;
    opacity: 1;
}
.card .sliderText {
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}
.card .sliderText img {
    display: block;
    width: 100%;
    height: 100%;
}
.card .sliderText .overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all .5s ease;
}
.card .sliderText:hover .overlay {
    display: flex;
}
.card .sliderText .overlay span {
    height: 100px;
    width: 100px;
    font-size: 50px;
    margin-bottom: 20px;
    background-color: #6a097d;
    box-shadow: 0 2px 13px 10px rgba(0,0,0,0.3);
    display: inline-block;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    cursor: pointer;
    animation: gallIcon .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .sliderBox {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .sliderBox p {
    color: #6a097d;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
h4 {
    color:#ffffff;
    font-size: 30px;
    font-weight: 600;
    animation: gallText .4s ease;
}
.swiper-container {
    width: 25%;
	height: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px !important;
    height: 350px !important;
    background: whitesmoke;
}
@keyframes gallIcon {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes gallText {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 960px) {
    .swiper-slide {
        width: 250px !important;
        height: 250px !important;
    }
    .swiper-container {
        padding-top: 60px !important;
    }
    .card .sliderBox p {
        font-size: 13px;
    }
    .card .sliderText .overlay span {
        height: 70px;
        width: 70px;
    }
    h4 {
        font-size: 20px;
    }
}
@media (max-width: 680px) {
    .swiper-slide {
        width: 200px !important;
        height: 200px !important;
    }
    .swiper-container {
        padding-top: 95px !important;
    }
}

/* CONTACT SECTION */

#container-flex {
    display: flex;
}
.contact {
    position: relative;
    place-self: center;
    left: 10%;
    min-width: 20%;
    width: 25%;
    height: calc(85% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 15px rgb(0, 78, 138);
    z-index: 10;
    background: #004E89;
    transition: 1s;
    opacity: 0;
}
.contact .info {
    position: relative;
    margin: 0 15%;
    opacity: 0;
}
.contact .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.contact .info li span:nth-child(1) {
   width: 30px;
   min-width: 25px; 
}
.contact .info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.8;
}
.contact .info li span:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.7;
    align-self: center;
    color: gainsboro;
 }
 .contact .info li:hover span:nth-child(1) img,
 .contact .info li:hover span:nth-child(2) {
     opacity: 1;
 }
.contact .contact-links {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.contact .contact-links li {
    list-style: none;

    position: relative;
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
}
.contact .contact-links li a img {
    opacity: 0.8;
    filter: invert(1);
    width: 50px;
}
.contact .contact-links li a img:hover {
    opacity: 1;
    transform: scale(1.2);
}
h5 {
    margin-left: 10px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.2em;
}
.contact h5 {
    margin-left: 15%;
}
.contact-form {
    position: relative;
    place-self: center;
    height: calc(65% - 80px);
    width: 50%;
    padding: 2% 4%;
    margin-left: 10%;
    z-index: 1;
    background: #6D7389;
    transition: 1s;
    opacity: 0;
}
.contact-form .form-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
}
.contact-form .form-box .input-box {
    position: relative;
    margin: 0 0 20px 0;
    width: 49%;
    display: flex;
    justify-content: center;
}
.contact-form .form-box .input-box.w1 {
    width: 100%;
}
.contact-form .form-box .input-box input,
.contact-form .form-box .input-box textarea {
    width: 100% !important;
    padding: 5px;
    font-size: 18px;
    font-weight: 300;
    color: rgb(82, 82, 82);
    border: none;
    border-bottom: 1px solid #a09e9e;
    outline: none;
    resize: none;
}
.contact-form .form-box .input-box textarea {
    min-height: 130px;
}
.contact-form .form-box .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 300;
    color: gainsboro;
    transition: 0.5s;
    pointer-events: none;
}
.contact-form .form-box .input-box input:focus ~ span,
.contact-form .form-box .input-box textarea:focus ~ span,
.contact-form .form-box .input-box input:valid ~ span,
.contact-form .form-box .input-box textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1;
}
.contact-form .form-box .input-box input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #40434F;
    color: gainsboro;
    max-width: 80%;
    padding: 12px;
    border: none;
}
.contact-form .form-box .input-box input[type="submit"]:hover {
    background: #004E89;
    box-shadow: 0 0 5px #004E89;
}

@media (max-width: 1050px) {
    .contact-form .form-box .input-box textarea {
        min-height: 80px;
    }
    .contact-form .form-box .input-box {
        width: 100%;
    }
    .contact-form h5 {
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.2em;
    }
}
@media (max-width: 1300px) {
    .contact {
        min-width: 320px;
    }
}
@media (max-width: 850px) {
    .contact-form {
        min-width: 425px;
        padding-top: 17px;
    }
}
@media (max-height: 700px) {
    .contact {
        min-height: 400px;
    }
    .contact-form {
        min-height: 300px;
    }
    .contact-form .form-box .input-box textarea {
        min-height: 55px;
    }
}

/* mobile */
@media (max-width: 600px) {
    .contact {
        left: 6%;
    }
    .contact-form {
        margin-left: -220%;
    }
}